.clickable {
  cursor: crosshair;
  font-weight: bold;
  color: #3399ff;
}

.clickable:hover {
  text-decoration: none;
}

#image-hidden {
  display: none;
}

#fight-slide {
  display: none;

}

.slide {
  cursor: crosshair;
  font-weight: bold;
  color: #3399ff;
}

.container {
  text-align: center;
  background-color: #e6ffff;
  margin-top: 100px;
}
